@use 'sass:map';

$breakpoints: (
  sm: 600px,
  md: 900px,
  lg: 1200px,
);

@mixin up($bp) {
  @media (min-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

@mixin down($bp) {
  @media (max-width: calc(#{map.get($breakpoints, $bp)} - 0.02px)) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
